@use 'variables/colors';
@use 'for-screen';

html {
  font-size: 17px;
  letter-spacing: 0.02rem;
  color: var(--color-text-basic);
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;

  @include for-screen.mobile {
    font-size: 14px;
  }
}

body {
  background-color: var(--color-background);
}

.body,
.body *,
.body *::before,
.body *::after {
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.15s;
}

.header {
  color: var(--color-text-header);
}

.link {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }

  &:active {
    color: var(--color-link-active);
  }
}

.container {
  max-width: 800px;
  padding: 0 2.5rem;
  margin: 1rem auto;

  @include for-screen.tablet() {
    padding: 0 1.5rem;
  }

  @include for-screen.mobile {
    padding: 0 0.8rem;
  }
}

// TODO стили починить
// TODO норм темную тему
