.roadmap-filters {
  .MuiPaper-root {
    width: 220px;
    padding: 0 1rem;
    background: var(--color-background-dropdown);
    color: var(--color-text-basic);
    box-shadow: 0 0 30px 0 var(--color-shadow);
  }
}

.filters__icon {
  color: var(--color-filters-icon);
}
