:root {
  --color-font-default: #0F1419FF;
  --color-border-default: #9E9E9E;
  --checkbox-marker: #212121;
  --checkbox-background: #FFEB3B;
  --color-link-active: #ffc800;
  --color-link-hover: #868686;
  --color-link: #545150;
}
