@font-face {
  font-family: 'Montserrat Light';
  src: url('../assets/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Inter Light';
  src: url('../assets/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Machine Light';
  src: url('../assets/fonts/Machine-Light.ttf');
}
