@import './fonts.css';
@import './colors.css';

body {
  font-family: 'Inter Light', Arial, sans-serif;
}

.header {
  font-family: 'Montserrat Light', Arial, sans-serif;
  color: var(--color-font-default);
}

.logo {
  font-family: 'Machine Light', Arial, sans-serif;
}

h3 {
  margin: 1.5em 0 0.7em;
}

a {
  margin: 0 0 0.3em;
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

a:active {
  color: var(--color-link-active);
}

.container {
  max-width: 800px;
  padding: 1rem 2rem;
  margin: auto;
}

.rd-divider,
.lab-divider {
  font-weight: 900;
  border-bottom: 1px solid var(--checkbox-background);
}

.note {
  margin: 1.5em 0 0.7em;
  font-style: italic;
  font-weight: 900;
  color: var(--color-link);
}

@media screen and (max-width: 400px) {
  .container {
    padding: 1rem 1rem;
  }
}
