@import './fonts.css';
@import './colors.css';

body {
  font-family: 'Inter Light', Arial, sans-serif;
  padding: 1rem 2rem;
}

.header {
  font-family: 'Montserrat Light', Arial, sans-serif;
  color: var(--color-font-default);
}

.logo {
  font-family: 'Machine Light', Arial, sans-serif;
}
