@use 'src/app/styles/for-screen';

.roadmap-card__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topics-card__icon {
  scale: 0.9;
  cursor: pointer;
}

.topics-card__icon-hard {
  color: var(--color-error);
}

.topics-card__icon-easy {
  color: var(--color-success);
}

.roadmap-card__header {
  display: flex;
  align-items: center;
  margin: 0.4rem 0 1.2rem;
}

.roadmap-card__header-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;

  @include for-screen.mobile {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.4rem;
  }
}

.roadmap-card__header-text {
  margin: 0;
}

.roadmap-card__link {
  display: block;
  margin: 0 0 0.4em;
}
